<div class="jumbotron" style="padding: 45px 0px">
 <h4 class="text-center">To Do List App</h4>
</div>

<div class="input-group">
    <input type="text" class="form-control" #itemTitle>
    <div class="input-group-addon hover-cursor" (click)="onAdd(itemTitle)">
       <i class="fa fa-plus-circle fa-2x"></i>
    </div>
</div>

<div style="margin: 5px 0px">
    <ul class="list-group">
       <li class="list-group-item" *ngFor="let item of toDoListArray">
          <span class="hover-cursor" [class.text.succes]="item.isChecked" (click)="alterCheck(item.$key,item.isChecked)">
            <i class="fa fa-lg" [ngClass]="item.isChecked? 'fa-check-circle-o': 'fa-circle-thin'"></i>
          </span>
          {{item.title}}
          <span class="hover-cursor text-danger pull-right" (click)="onDelete(item.$key)">
              <i class="fa fa-trash-o fa-lg"></i>
          </span>
       </li>
    </ul>
</div>
